.shadowbox {
    width: auto;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-color: rgb(159, 160, 250);
    color: rgb(6, 0, 8);
}
ol {
    line-height: 150%;
}